<!-- Portfolio Grid Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Events</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <ul>
                {% for event in site.data.events %}
                    <h1>{{ event.title }}</h1>
                    <p>{{ event.summary }}</p>
                    <p>{{ event.location }}</p>
                    <h2><a href="{{ event.alt["text/html"] }}">Register Here</a></h2>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>