 <!-- Contact Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row" ng-app="ngApp">
                <div class="col-lg-8" ng-controller="gitHubProjects">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <div ng-repeat="repo in repos">
                        {% raw %}
                            <a ng-href="{{ repo.html_url }}"><h3 ng-bind="repo.name"></h3></a>
                            <p ng-bind="repo.description"></p>
                        {% endraw %}
                    </div>
                </div>
            </div>
        </div>
    </section>